api/schemas/v113-p15-2/BaggageChargesRQ.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://www.iata.org/IATA/EDIST" targetNamespace="http://www.iata.org/IATA/EDIST" elementFormDefault="qualified" attributeFormDefault="unqualified" version="2.000" id="IATA2015.2">
	<xsd:include schemaLocation="edist_commontypes.xsd"/>
	<xsd:include schemaLocation="edist_structures.xsd"/>
	<!--
//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
= / = / = / = / = / = / = / = / = / = / = / = / = / = / = / = / = / = / = / = / = / = / = / = / = / = / = / = / = / = / = / = / = / =
   B A G G A G E  C H A R G E S    R E Q U E S T   B U S I N E S S   O B J E C T
= / = / = / = / = / = / = / = / = / = / = / = / = / = / = / = / = / = / = / = / = / = / = / = / = / = / = / = / = / = / = / = / = / =
//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
-->
	<xsd:element name="BaggageChargesRQ">
		<xsd:annotation>
			<xsd:documentation source="DESCRIPTION" xml:lang="en">The BaggageCharges transaction set determines and returns the pricing for a set of checked bags. Request qualifiers include Traveler, origin/ destination, point of sale, flight-specific and ticketed fare information. 

The response returns the baggage charges, whether or not IATA Reso 302 or DOT rules are applicable, and detailed trip-level pricing for all requested passengers, or origin/ destination level pricing that includes checked and carry-on baggage charges</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="PointOfSale" minOccurs="0"/>
				<xsd:element ref="Document"/>
				<xsd:element ref="Party"/>
				<xsd:element name="Parameters" type="BagChargeReqParamsType" minOccurs="0">
					<xsd:annotation>
						<xsd:documentation source="description" xml:lang="en">Parameters that influence overall message results.

Note: These capabilities may not be supported by all NDC-enabled systems or may be supported by bilateral agreement only. The technical implementation of this capability is not dictated by this specification. </xsd:documentation>
					</xsd:annotation>
				</xsd:element>
				<xsd:element ref="Travelers"/>
				<xsd:element name="TicketIdentification" minOccurs="0" maxOccurs="unbounded">
					<xsd:annotation>
						<xsd:documentation>Ticket identification group, can be associated per Traveler.</xsd:documentation>
					</xsd:annotation>
					<xsd:complexType>
						<xsd:complexContent>
							<xsd:extension base="KeyWithMetaObjectBaseType">
								<xsd:sequence>
									<xsd:element name="Owner">
										<xsd:annotation>
											<xsd:documentation>Entity that owns ticket identification. It could be an airline, CRS or GDS code,

Note: If this is an airline, the IATA/ A4A (two or three character) Airline Designator Code should be used.</xsd:documentation>
										</xsd:annotation>
									</xsd:element>
									<xsd:element ref="Security">
										<xsd:annotation>
											<xsd:documentation>Contains security details: viewing (display)/booking/sales location(s).</xsd:documentation>
										</xsd:annotation>
									</xsd:element>
									<xsd:element name="TicketIssueDate" type="xsd:date">
										<xsd:annotation>
											<xsd:documentation>Date in ISO 8601 format (yyyy-mm-dd).  Example: 2001-12-25</xsd:documentation>
										</xsd:annotation>
									</xsd:element>
									<xsd:element name="TicketIssueTime" type="xsd:time" minOccurs="0">
										<xsd:annotation>
											<xsd:documentation>Time in ISO 8601 format (hh:mm).  Example: 14:00</xsd:documentation>
										</xsd:annotation>
									</xsd:element>
									<xsd:element name="TicketIssuePlace" minOccurs="0">
										<xsd:annotation>
											<xsd:documentation>Identifies location where ticket was issued. Normally a 3-letter airport/city code.</xsd:documentation>
										</xsd:annotation>
										<xsd:simpleType>
											<xsd:restriction base="xsd:string">
												<xsd:length value="3"/>
											</xsd:restriction>
										</xsd:simpleType>
									</xsd:element>
									<xsd:element name="TicketIssueCountry" minOccurs="0">
										<xsd:annotation>
											<xsd:documentation>Identifies country where ticket was issued by a two letter country code.
Example: CA</xsd:documentation>
										</xsd:annotation>
										<xsd:simpleType>
											<xsd:restriction base="xsd:string">
												<xsd:length value="2"/>
											</xsd:restriction>
										</xsd:simpleType>
									</xsd:element>
									<xsd:element name="DocumentNumber" type="xsd:string" minOccurs="0">
										<xsd:annotation>
											<xsd:documentation>Ticket or EMD Number</xsd:documentation>
										</xsd:annotation>
									</xsd:element>
								</xsd:sequence>
							</xsd:extension>
						</xsd:complexContent>
					</xsd:complexType>
				</xsd:element>
				<xsd:choice>
					<xsd:annotation>
						<xsd:documentation source="description" xml:lang="en">Choice between entering: 
1) Cached Shopping Offer IDs
2) Detailed Query Parameters</xsd:documentation>
					</xsd:annotation>
					<xsd:element ref="ShoppingResponseIDs"/>
					<xsd:element name="Query">
						<xsd:annotation>
							<xsd:documentation source="Description" xml:lang="en">Core query parameters.</xsd:documentation>
						</xsd:annotation>
						<xsd:complexType>
							<xsd:choice>
								<xsd:element name="OriginDestination" maxOccurs="unbounded">
									<xsd:annotation>
										<xsd:documentation source="description" xml:lang="en">Origin and Destination.</xsd:documentation>
									</xsd:annotation>
									<xsd:complexType>
										<xsd:complexContent>
											<xsd:extension base="FlightType"/>
										</xsd:complexContent>
									</xsd:complexType>
								</xsd:element>
								<xsd:element name="Flight" maxOccurs="unbounded">
									<xsd:annotation>
										<xsd:documentation source="description" xml:lang="en">Flight origin/ destination information.</xsd:documentation>
									</xsd:annotation>
									<xsd:complexType>
										<xsd:complexContent>
											<xsd:extension base="FlightOnlyType"/>
										</xsd:complexContent>
									</xsd:complexType>
								</xsd:element>
							</xsd:choice>
						</xsd:complexType>
					</xsd:element>
				</xsd:choice>
				<xsd:element ref="Preferences" minOccurs="0"/>
				<xsd:element ref="Qualifiers" minOccurs="0"/>
				<xsd:element name="JourneyData" type="ItineraryType" minOccurs="0">
					<xsd:annotation>
						<xsd:documentation source="description" xml:lang="en">Existing Flight Itinerary Information.</xsd:documentation>
					</xsd:annotation>
				</xsd:element>
				<xsd:element name="Metadata" type="BagChargeReqMetadataType" minOccurs="0">
					<xsd:annotation>
						<xsd:documentation>Metadata List(s).</xsd:documentation>
					</xsd:annotation>
				</xsd:element>
				<xsd:element ref="Policies" minOccurs="0">
					<xsd:annotation>
						<xsd:documentation source="description" xml:lang="en">Message Policy information.</xsd:documentation>
					</xsd:annotation>
				</xsd:element>
			</xsd:sequence>
			<xsd:attributeGroup ref="IATA_PayloadStdAttributes"/>
		</xsd:complexType>
	</xsd:element>
	<xsd:complexType name="BagChargeReqParamsType">
		<xsd:annotation>
			<xsd:documentation source="description" xml:lang="en">Baggage Charges Request Parameters definition.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="MessageParamsBaseType">
				<xsd:sequence>
					<xsd:element name="ServiceFilters" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation source="description" xml:lang="en">Group and subgroup code(s) that specify the requested categories of Optional Services to be returned in the results.</xsd:documentation>
						</xsd:annotation>
						<xsd:complexType>
							<xsd:complexContent>
								<xsd:extension base="AssociatedObjectBaseType">
									<xsd:sequence>
										<xsd:element name="ServiceFilter" type="ServiceFilterType" maxOccurs="unbounded">
											<xsd:annotation>
												<xsd:documentation source="description" xml:lang="en">Service group and subgroup code(s).</xsd:documentation>
											</xsd:annotation>
										</xsd:element>
									</xsd:sequence>
								</xsd:extension>
							</xsd:complexContent>
						</xsd:complexType>
					</xsd:element>
					<xsd:element name="Pricing" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation source="description" xml:lang="en">Pricing Parameters, including Simple Pricing, Award Travel, Auto Exchange, Override Currency and Fee Exemption.</xsd:documentation>
						</xsd:annotation>
						<xsd:complexType>
							<xsd:sequence>
								<xsd:element name="OverrideCurrency" type="CurrencySimpleType" minOccurs="0">
									<xsd:annotation>
										<xsd:documentation source="description" xml:lang="en">Requested override currency code for pricing.
Example: EUR</xsd:documentation>
									</xsd:annotation>
								</xsd:element>
								<xsd:element name="FeeExemption" minOccurs="0">
									<xsd:annotation>
										<xsd:documentation source="description" xml:lang="en">Fee exemption application for Offer pricing.</xsd:documentation>
									</xsd:annotation>
									<xsd:complexType>
										<xsd:complexContent>
											<xsd:extension base="AssociatedObjectBaseType">
												<xsd:sequence>
													<xsd:element name="Fee" minOccurs="0" maxOccurs="unbounded">
														<xsd:annotation>
															<xsd:documentation source="description" xml:lang="en">Exemption(s) based on tax codes plus (optional) tax types within a tax code.</xsd:documentation>
														</xsd:annotation>
														<xsd:complexType>
															<xsd:sequence>
																<xsd:element name="Code">
																	<xsd:annotation>
																		<xsd:documentation source="description" xml:lang="en">Exempt tax code.
Example: YQ/YR</xsd:documentation>
																	</xsd:annotation>
																	<xsd:complexType>
																		<xsd:simpleContent>
																			<xsd:extension base="xsd:string">
																				<xsd:attribute name="CollectionPoint" use="optional">
																					<xsd:annotation>
																						<xsd:documentation source="description" xml:lang="en">Airport code location for exempt ZP or XF taxes.
Example: MIA</xsd:documentation>
																						<xsd:documentation source="ENCODING" xml:lang="en">For maximum interoperability, it is recommended that IATA (three character) Airport/ City Code values be used. Use an IATA code or a proprietary string value.

http://www.iata.org/publications/Pages/code-search.aspx</xsd:documentation>
																					</xsd:annotation>
																				</xsd:attribute>
																			</xsd:extension>
																		</xsd:simpleContent>
																	</xsd:complexType>
																</xsd:element>
																<xsd:element name="TaxType" type="xsd:string" minOccurs="0" maxOccurs="unbounded">
																	<xsd:annotation>
																		<xsd:documentation source="description" xml:lang="en">Tax type(s) within the tax code. Examples: I, C</xsd:documentation>
																	</xsd:annotation>
																</xsd:element>
															</xsd:sequence>
															<xsd:attributeGroup ref="ObjAssociationAttrGroup"/>
														</xsd:complexType>
													</xsd:element>
													<xsd:element ref="CountryCode" minOccurs="0" maxOccurs="unbounded"/>
													<xsd:element name="ProvinceCode" type="ProperNameSimpleType" minOccurs="0" maxOccurs="unbounded">
														<xsd:annotation>
															<xsd:documentation source="description" xml:lang="en">Exempt province(s).</xsd:documentation>
														</xsd:annotation>
													</xsd:element>
													<xsd:element name="GovernmentBody" type="ProperNameSimpleType" minOccurs="0">
														<xsd:annotation>
															<xsd:documentation source="description" xml:lang="en">Entity name.</xsd:documentation>
															<xsd:documentation source="Guidelines" xml:lang="en">=notes=:
1. This must be provided for certain exemptions in the Canadian market.</xsd:documentation>
														</xsd:annotation>
													</xsd:element>
												</xsd:sequence>
											</xsd:extension>
										</xsd:complexContent>
									</xsd:complexType>
								</xsd:element>
							</xsd:sequence>
							<xsd:attribute name="AutoExchangeInd" type="xsd:boolean" use="optional">
								<xsd:annotation>
									<xsd:documentation source="description" xml:lang="en">When TRUE, this request is to be handled by an auto-exchange process.</xsd:documentation>
								</xsd:annotation>
							</xsd:attribute>
							<xsd:attribute name="AwardIncludedInd" type="xsd:boolean" use="optional">
								<xsd:annotation>
									<xsd:documentation source="description" xml:lang="en">When TRUE, award eligible in addition to priced offers and fares is requested.</xsd:documentation>
								</xsd:annotation>
							</xsd:attribute>
							<xsd:attribute name="AwardOnlyInd" type="xsd:boolean" use="optional">
								<xsd:annotation>
									<xsd:documentation source="description" xml:lang="en">When TRUE, only award eligible offers/ fares are requested.</xsd:documentation>
								</xsd:annotation>
							</xsd:attribute>
							<xsd:attribute name="SimpleInd" type="xsd:boolean" use="optional">
								<xsd:annotation>
									<xsd:documentation source="description" xml:lang="en">When TRUE, Simple Pricing  for flight offers is requested.</xsd:documentation>
								</xsd:annotation>
							</xsd:attribute>
						</xsd:complexType>
					</xsd:element>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="BagChargeReqMetadataType">
		<xsd:annotation>
			<xsd:documentation source="description" xml:lang="en">Baggage Charges Request Metadata definition.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="Shopping" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Shopping Query-Related Metadata.</xsd:documentation>
				</xsd:annotation>
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element ref="ShopMetadataGroup"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="Traveler" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Traveler Metadata List(s).</xsd:documentation>
				</xsd:annotation>
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element ref="TravelerMetadata"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="Other" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation source="description" xml:lang="en">Other Metadata Lists(s).</xsd:documentation>
				</xsd:annotation>
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="OtherMetadata" maxOccurs="unbounded">
							<xsd:annotation>
								<xsd:documentation source="description" xml:lang="en">Other Metadata List.</xsd:documentation>
							</xsd:annotation>
							<xsd:complexType>
								<xsd:choice>
									<xsd:element ref="AircraftMetadatas"/>
									<xsd:element ref="AirportMetadatas"/>
									<xsd:element ref="CityMetadatas"/>
									<xsd:element ref="CodesetMetadatas"/>
									<xsd:element ref="ContactMetadatas"/>
									<xsd:element ref="CountryMetadatas"/>
									<xsd:element ref="CurrencyMetadatas"/>
									<xsd:element ref="DescriptionMetadatas"/>
									<xsd:element ref="EquivalentID_Metadatas"/>
									<xsd:element ref="LanguageMetadatas"/>
									<xsd:element ref="PaymentCardMetadatas"/>
									<xsd:element ref="PaymentFormMetadatas"/>
									<xsd:element ref="PriceMetadatas"/>
									<xsd:element ref="RuleMetadatas"/>
									<xsd:element ref="StateProvMetadatas"/>
									<xsd:element ref="ZoneMetadatas"/>
									<xsd:element ref="AddressMetadatas"/>
								</xsd:choice>
							</xsd:complexType>
						</xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>
