api/schemas/v113-p15-2/FileRetrieveRS.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://www.iata.org/IATA/EDIST" targetNamespace="http://www.iata.org/IATA/EDIST" elementFormDefault="qualified" attributeFormDefault="unqualified" version="2.000" id="IATA2015.2">
	<xsd:include schemaLocation="edist_commontypes.xsd"/>
	<xsd:include schemaLocation="edist_structures.xsd"/>
	<!--
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
= / = / = / = / = / = / = / = / = / = / = / = / = / = / = / = / = / = / = / = / = / = / = / = / 

  F I L E  R E T R I E V E   R E S P O N S E   B U S I N E S S   O B J E C T

= / = / = / = / = / = / = / = / = / = / = / = / = / = / = / = / = / = / = / = / = / = / = / = / 
///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////-->
	<xsd:element name="FileRetrieveRS">
		<xsd:annotation>
			<xsd:documentation source="description" xml:lang="en">The FileRetrieveRQ/ FileListRS transaction set supplements other NDC shopping messages with payloads designed to efficiently exchange offer-associated media using IDs and URLs.

Using the FileRetrieveRQ message, implementers can subsequently retrieve binary encoded files—such as images or PDFs—from the IDs or URLs in a shopping response message that are returned in the FileListRS message.

This message pair also supports scenarios where trading partners maintain a physical cache of offer associated media from other trading partners based on media IDs and/or URLs.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:choice>
				<xsd:sequence>
					<xsd:element ref="Document"/>
					<xsd:element name="Success" type="SuccessType">
						<xsd:annotation>
							<xsd:documentation>The presence of the empty Success element explicitly indicates that the message succeeded.</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="Warnings" type="WarningsType" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>Used in conjunction with the Success element to define one or more business errors.</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="Processing" type="ProcessingResultType" minOccurs="0"/>
					<xsd:element name="Files" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>Media, File Attachements and Binary Encoded Image(s).</xsd:documentation>
						</xsd:annotation>
						<xsd:complexType>
							<xsd:sequence>
								<xsd:element name="File" type="MediaAttachmentType" maxOccurs="unbounded">
									<xsd:annotation>
										<xsd:documentation>Media File Detail.</xsd:documentation>
									</xsd:annotation>
								</xsd:element>
							</xsd:sequence>
						</xsd:complexType>
					</xsd:element>
					<xsd:element ref="MediaMetadatas" minOccurs="0"/>
					<xsd:element ref="Policies" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation source="description" xml:lang="en">Message Policy information.</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
				</xsd:sequence>
				<xsd:sequence>
					<xsd:element ref="Errors"/>
				</xsd:sequence>
			</xsd:choice>
			<xsd:attributeGroup ref="IATA_PayloadStdAttributes"/>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="MediaDescriptions">
		<xsd:annotation>
			<xsd:documentation source="description" xml:lang="en">Description(s).</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="Description" maxOccurs="unbounded">
					<xsd:annotation>
						<xsd:documentation source="description" xml:lang="en">Description detail.</xsd:documentation>
					</xsd:annotation>
					<xsd:complexType>
						<xsd:sequence>
							<xsd:element ref="LinkToMediaDescription"/>
							<xsd:element ref="MediaMarkupDescription"/>
							<xsd:element ref="MediaPlainDescription"/>
						</xsd:sequence>
					</xsd:complexType>
				</xsd:element>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="MediaPlainDescription" type="MediaPlainDescType">
		<xsd:annotation>
			<xsd:documentation source="description" xml:lang="en">PLAIN TEXT DESCRIPTION.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="MediaMarkupDescription" type="MediaMarkupDescType">
		<xsd:annotation>
			<xsd:documentation source="description" xml:lang="en">DESCRIPTION WITH MARKUP Information.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="LinkToMediaDescription" type="UriContextType">
		<xsd:annotation>
			<xsd:documentation source="description" xml:lang="en">DESCRIPTION LINK Information.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="Base64MediaType">
		<xsd:annotation>
			<xsd:documentation source="description" xml:lang="en">BINARY ENCODED MEDIA representation.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="AssociatedObjectBaseType">
				<xsd:sequence>
					<xsd:element name="EncodedValue">
						<xsd:annotation>
							<xsd:documentation source="description" xml:lang="en">Base64 (binary encoded) value.</xsd:documentation>
						</xsd:annotation>
						<xsd:complexType>
							<xsd:simpleContent>
								<xsd:extension base="xsd:base64Binary">
									<xsd:attributeGroup ref="ObjAssociationAttrGroup"/>
								</xsd:extension>
							</xsd:simpleContent>
						</xsd:complexType>
					</xsd:element>
					<xsd:element name="Descriptions" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation source="description" xml:lang="en">Media Description(s).</xsd:documentation>
						</xsd:annotation>
						<xsd:complexType>
							<xsd:sequence>
								<xsd:element name="Description" maxOccurs="unbounded">
									<xsd:annotation>
										<xsd:documentation>Media Description Detail.</xsd:documentation>
									</xsd:annotation>
									<xsd:complexType>
										<xsd:sequence>
											<xsd:element ref="LinkToMediaDescription"/>
											<xsd:element ref="MediaMarkupDescription"/>
											<xsd:element ref="MediaPlainDescription"/>
										</xsd:sequence>
									</xsd:complexType>
								</xsd:element>
							</xsd:sequence>
						</xsd:complexType>
					</xsd:element>
					<xsd:element name="ServiceEncoding" type="ServiceEncodingType" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>Associated Optional Service Encoding.</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="HexMediaType">
		<xsd:annotation>
			<xsd:documentation source="description" xml:lang="en">HEX ENCODED MEDIA representation.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="AssociatedObjectBaseType">
				<xsd:sequence>
					<xsd:element name="EncodedValue">
						<xsd:annotation>
							<xsd:documentation source="description" xml:lang="en">Hexadecimal (binary encoded) value.</xsd:documentation>
						</xsd:annotation>
						<xsd:complexType>
							<xsd:simpleContent>
								<xsd:extension base="xsd:hexBinary">
									<xsd:attributeGroup ref="ObjAssociationAttrGroup"/>
								</xsd:extension>
							</xsd:simpleContent>
						</xsd:complexType>
					</xsd:element>
					<xsd:element name="Descriptions" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation source="description" xml:lang="en">Media Description(s).</xsd:documentation>
						</xsd:annotation>
						<xsd:complexType>
							<xsd:sequence>
								<xsd:element name="Description" maxOccurs="unbounded">
									<xsd:annotation>
										<xsd:documentation>Media Description Detail.</xsd:documentation>
									</xsd:annotation>
									<xsd:complexType>
										<xsd:sequence>
											<xsd:element ref="LinkToMediaDescription"/>
											<xsd:element ref="MediaMarkupDescription"/>
											<xsd:element ref="MediaPlainDescription"/>
										</xsd:sequence>
									</xsd:complexType>
								</xsd:element>
							</xsd:sequence>
						</xsd:complexType>
					</xsd:element>
					<xsd:element name="ServiceEncoding" type="ServiceEncodingType" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>Associated Optional Service Encoding.</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="MediaMarkupDescType">
		<xsd:annotation>
			<xsd:documentation source="description" xml:lang="en">DESCRIPTION WITH MARKUP representation.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="AssociatedObjectBaseType">
				<xsd:sequence>
					<xsd:element name="Description" maxOccurs="unbounded">
						<xsd:annotation>
							<xsd:documentation source="description" xml:lang="en">Marked up text with mark-up style indicator.</xsd:documentation>
						</xsd:annotation>
						<xsd:complexType>
							<xsd:simpleContent>
								<xsd:extension base="DescriptionSimpleType">
									<xsd:attribute name="Style" type="ProperNameSimpleType" use="required">
										<xsd:annotation>
											<xsd:documentation source="description" xml:lang="en">Mark-up Style.  Example: HTML</xsd:documentation>
										</xsd:annotation>
									</xsd:attribute>
								</xsd:extension>
							</xsd:simpleContent>
						</xsd:complexType>
					</xsd:element>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="MediaPlainDescType">
		<xsd:annotation>
			<xsd:documentation source="description" xml:lang="en">PLAIN TEXT DESCRIPTION representation.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleContent>
			<xsd:extension base="DescriptionSimpleType">
				<xsd:attributeGroup ref="ObjAssociationAttrGroup"/>
			</xsd:extension>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:complexType name="FileRetrieveResMetadataType">
		<xsd:annotation>
			<xsd:documentation source="description" xml:lang="en">File Retrieve Response Metadata definition.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="MediaMetadataType">
				<xsd:sequence>
					<xsd:element ref="MediaMetadatas" minOccurs="0"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
</xsd:schema>
