api/schemas/v113-p15-2/FlightPriceRQ.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2015 rel. 3 sp1 (x64) (http://www.altova.com) by JRT (JR Technologies, Inc.) -->
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://www.iata.org/IATA/EDIST" targetNamespace="http://www.iata.org/IATA/EDIST" elementFormDefault="qualified" attributeFormDefault="unqualified" version="2.000" id="IATA2015.2">
	<xsd:include schemaLocation="edist_commontypes.xsd"/>
	<xsd:include schemaLocation="edist_structures.xsd"/>
	<!--
//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
= / = / = / = / = / = / = / = / = / = / = / = / = / = / = / = / = / = / = / = / = / = / = / = / = / = / = / = / = / = / = / = / = / =
   F L I G H T   P R I C E   R E Q U E S T   B U S I N E S S   O B J E C T
= / = / = / = / = / = / = / = / = / = / = / = / = / = / = / = / = / = / = / = / = / = / = / = / = / = / = / = / = / = / = / = / = / =
//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
-->
	<xsd:element name="FlightPriceRQ">
		<xsd:annotation>
			<xsd:documentation source="DESCRIPTION" xml:lang="en">The FlightPrice transaction set may return two different sets of content. Based on request attributes, the response may initially provide additional a la carte ancillary services that are applicable and available for the selected offer.

If no ancillary services are available, the message returns a final pricing. If ancillary services are available, the modified pricing request includes selected services and returns a final pricing that includes service(s) selection. The response message also returns multi-media content at the message level with media references at the service level.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="PointOfSale" minOccurs="0"/>
				<xsd:element ref="Document"/>
				<xsd:element ref="Party"/>
				<xsd:element name="Parameters" type="FltPriceReqParamsType" minOccurs="0">
					<xsd:annotation>
						<xsd:documentation source="description" xml:lang="en">Parameters that influence overall message results.

Note: These capabilities may not be supported by all NDC-enabled systems or may be supported by bilateral agreement only. The technical implementation of this capability is not dictated by this specification. </xsd:documentation>
					</xsd:annotation>
				</xsd:element>
				<xsd:element ref="Travelers"/>
				<xsd:choice>
					<xsd:annotation>
						<xsd:documentation source="description" xml:lang="en">Choice between entering: 
1) Cached Shopping Offer IDs
2) Detailed Flight Pricing Parameters</xsd:documentation>
					</xsd:annotation>
					<xsd:element ref="ShoppingResponseIDs"/>
					<xsd:element name="Query">
						<xsd:annotation>
							<xsd:documentation source="Description" xml:lang="en">Core Flight Pricing query parameters.</xsd:documentation>
						</xsd:annotation>
						<xsd:complexType>
							<xsd:sequence>
								<xsd:element name="OriginDestination" maxOccurs="unbounded">
									<xsd:annotation>
										<xsd:documentation source="description" xml:lang="en">Origin and Destination.</xsd:documentation>
									</xsd:annotation>
									<xsd:complexType>
										<xsd:complexContent>
											<xsd:extension base="FlightType"/>
										</xsd:complexContent>
									</xsd:complexType>
								</xsd:element>
							</xsd:sequence>
						</xsd:complexType>
					</xsd:element>
				</xsd:choice>
				<xsd:element ref="Preferences" minOccurs="0"/>
				<xsd:element ref="Qualifiers" minOccurs="0"/>
				<xsd:element name="JourneyData" type="ItineraryType" minOccurs="0">
					<xsd:annotation>
						<xsd:documentation source="description" xml:lang="en">Existing Flight Itinerary Information.</xsd:documentation>
					</xsd:annotation>
				</xsd:element>
				<xsd:element name="InExchangeForTicket" type="TicketAutoExchangeType" minOccurs="0">
					<xsd:annotation>
						<xsd:documentation>Auto Exchange information.</xsd:documentation>
					</xsd:annotation>
				</xsd:element>
				<xsd:element name="DataLists" minOccurs="0">
					<xsd:annotation>
						<xsd:documentation>Data Lists(s).</xsd:documentation>
					</xsd:annotation>
					<xsd:complexType>
						<xsd:complexContent>
							<xsd:extension base="DataListType"/>
						</xsd:complexContent>
					</xsd:complexType>
				</xsd:element>
				<xsd:element name="Metadata" minOccurs="0">
					<xsd:annotation>
						<xsd:documentation>Metadata List(s).</xsd:documentation>
					</xsd:annotation>
					<xsd:complexType>
						<xsd:complexContent>
							<xsd:extension base="FltPriceReqMetadataType"/>
						</xsd:complexContent>
					</xsd:complexType>
				</xsd:element>
				<xsd:element ref="Policies" minOccurs="0">
					<xsd:annotation>
						<xsd:documentation source="description" xml:lang="en">Message Policy information.</xsd:documentation>
					</xsd:annotation>
				</xsd:element>
			</xsd:sequence>
			<xsd:attributeGroup ref="IATA_PayloadStdAttributes"/>
		</xsd:complexType>
	</xsd:element>
	<xsd:complexType name="FltPriceReqParamsType">
		<xsd:annotation>
			<xsd:documentation source="description" xml:lang="en">A data type for Flight Price Request Message Parameters.

Notes: Derived from MessageParamsBaseType.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="MessageParamsBaseType">
				<xsd:sequence>
					<xsd:element name="ServiceFilters" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation source="description" xml:lang="en">Group and subgroup code(s) that specify the requested categories of Optional Services to be returned in the results.</xsd:documentation>
						</xsd:annotation>
						<xsd:complexType>
							<xsd:complexContent>
								<xsd:extension base="AssociatedObjectBaseType">
									<xsd:sequence>
										<xsd:element name="ServiceFilter" type="ServiceFilterType" maxOccurs="unbounded">
											<xsd:annotation>
												<xsd:documentation source="description" xml:lang="en">Service group and subgroup code(s).</xsd:documentation>
											</xsd:annotation>
										</xsd:element>
									</xsd:sequence>
								</xsd:extension>
							</xsd:complexContent>
						</xsd:complexType>
					</xsd:element>
					<xsd:element name="Pricing" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation source="description" xml:lang="en">Pricing Parameters, including Simple Pricing, Award Travel, Auto Exchange, Override Currency and Fee Exemption.</xsd:documentation>
						</xsd:annotation>
						<xsd:complexType>
							<xsd:sequence>
								<xsd:element name="OverrideCurrency" type="CurrencySimpleType" minOccurs="0">
									<xsd:annotation>
										<xsd:documentation source="description" xml:lang="en">Requested override currency code for pricing.
Example: EUR</xsd:documentation>
									</xsd:annotation>
								</xsd:element>
								<xsd:element name="FeeExemption" minOccurs="0">
									<xsd:annotation>
										<xsd:documentation source="description" xml:lang="en">Fee exemption application for Offer pricing.</xsd:documentation>
									</xsd:annotation>
									<xsd:complexType>
										<xsd:complexContent>
											<xsd:extension base="AssociatedObjectBaseType">
												<xsd:sequence>
													<xsd:element name="Fee" minOccurs="0" maxOccurs="unbounded">
														<xsd:annotation>
															<xsd:documentation source="description" xml:lang="en">Exemption(s) based on tax codes plus (optional) tax types within a tax code.</xsd:documentation>
														</xsd:annotation>
														<xsd:complexType>
															<xsd:sequence>
																<xsd:element name="Code">
																	<xsd:annotation>
																		<xsd:documentation source="description" xml:lang="en">Exempt tax code.
Example: YQ/YR</xsd:documentation>
																	</xsd:annotation>
																	<xsd:complexType>
																		<xsd:simpleContent>
																			<xsd:extension base="xsd:string">
																				<xsd:attribute name="CollectionPoint" use="optional">
																					<xsd:annotation>
																						<xsd:documentation source="description" xml:lang="en">Airport code location for exempt ZP or XF taxes.
Example: MIA</xsd:documentation>
																						<xsd:documentation source="ENCODING" xml:lang="en">For maximum interoperability, it is recommended that IATA (three character) Airport/ City Code values be used. Use an IATA code or a proprietary string value.

http://www.iata.org/publications/Pages/code-search.aspx</xsd:documentation>
																					</xsd:annotation>
																				</xsd:attribute>
																			</xsd:extension>
																		</xsd:simpleContent>
																	</xsd:complexType>
																</xsd:element>
																<xsd:element name="TaxType" type="xsd:string" minOccurs="0" maxOccurs="unbounded">
																	<xsd:annotation>
																		<xsd:documentation source="description" xml:lang="en">Tax type(s) within the tax code. Examples: I, C</xsd:documentation>
																	</xsd:annotation>
																</xsd:element>
															</xsd:sequence>
															<xsd:attributeGroup ref="ObjAssociationAttrGroup"/>
														</xsd:complexType>
													</xsd:element>
													<xsd:element ref="CountryCode" minOccurs="0" maxOccurs="unbounded"/>
													<xsd:element name="ProvinceCode" type="ProperNameSimpleType" minOccurs="0" maxOccurs="unbounded">
														<xsd:annotation>
															<xsd:documentation source="description" xml:lang="en">Exempt province(s).</xsd:documentation>
														</xsd:annotation>
													</xsd:element>
													<xsd:element name="GovernmentBody" type="ProperNameSimpleType" minOccurs="0">
														<xsd:annotation>
															<xsd:documentation source="description" xml:lang="en">Entity name.</xsd:documentation>
															<xsd:documentation source="Guidelines" xml:lang="en">=notes=:
1. This must be provided for certain exemptions in the Canadian market.</xsd:documentation>
														</xsd:annotation>
													</xsd:element>
												</xsd:sequence>
											</xsd:extension>
										</xsd:complexContent>
									</xsd:complexType>
								</xsd:element>
							</xsd:sequence>
							<xsd:attribute name="AutoExchangeInd" type="xsd:boolean" use="optional">
								<xsd:annotation>
									<xsd:documentation source="description" xml:lang="en">When TRUE, this request is to be handled by an auto-exchange process.</xsd:documentation>
								</xsd:annotation>
							</xsd:attribute>
							<xsd:attribute name="AwardIncludedInd" type="xsd:boolean" use="optional">
								<xsd:annotation>
									<xsd:documentation source="description" xml:lang="en">When TRUE, award eligible in addition to priced offers and fares is requested.</xsd:documentation>
								</xsd:annotation>
							</xsd:attribute>
							<xsd:attribute name="AwardOnlyInd" type="xsd:boolean" use="optional">
								<xsd:annotation>
									<xsd:documentation source="description" xml:lang="en">When TRUE, only award eligible offers/ fares are requested.</xsd:documentation>
								</xsd:annotation>
							</xsd:attribute>
							<xsd:attribute name="SimpleInd" type="xsd:boolean" use="optional">
								<xsd:annotation>
									<xsd:documentation source="description" xml:lang="en">When TRUE, Simple Pricing  for flight offers is requested.</xsd:documentation>
								</xsd:annotation>
							</xsd:attribute>
						</xsd:complexType>
					</xsd:element>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="FltPriceReqMetadataType">
		<xsd:annotation>
			<xsd:documentation source="description" xml:lang="en">Flight Price Request Metadata definition.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="Shopping" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Shopping Query-Related Metadata.</xsd:documentation>
				</xsd:annotation>
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element ref="ShopMetadataGroup"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="Traveler" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Traveler Metadata List(s).</xsd:documentation>
				</xsd:annotation>
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element ref="TravelerMetadata"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="Other" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation source="description" xml:lang="en">Other Metadata Lists(s).</xsd:documentation>
				</xsd:annotation>
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="OtherMetadata" maxOccurs="unbounded">
							<xsd:annotation>
								<xsd:documentation source="description" xml:lang="en">Other Metadata List.</xsd:documentation>
							</xsd:annotation>
							<xsd:complexType>
								<xsd:choice>
									<xsd:element ref="ZoneMetadatas"/>
									<xsd:element ref="StateProvMetadatas"/>
									<xsd:element ref="RuleMetadatas"/>
									<xsd:element ref="PriceMetadatas"/>
									<xsd:element ref="PaymentFormMetadatas"/>
									<xsd:element ref="PaymentCardMetadatas"/>
									<xsd:element ref="LanguageMetadatas"/>
									<xsd:element ref="EquivalentID_Metadatas"/>
									<xsd:element ref="DescriptionMetadatas"/>
									<xsd:element ref="CurrencyMetadatas"/>
									<xsd:element ref="CountryMetadatas"/>
									<xsd:element ref="ContentMetadatas"/>
									<xsd:element ref="CodesetMetadatas"/>
									<xsd:element ref="CityMetadatas"/>
									<xsd:element ref="AirportMetadatas"/>
									<xsd:element ref="AircraftMetadatas"/>
									<xsd:element ref="AddressMetadatas"/>
								</xsd:choice>
							</xsd:complexType>
						</xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>
