api/schemas/v113-p15-2/InvGuaranteeRQ.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://www.iata.org/IATA/EDIST" targetNamespace="http://www.iata.org/IATA/EDIST" elementFormDefault="qualified" attributeFormDefault="unqualified" version="2.000" id="IATA2015.2">
	<xsd:include schemaLocation="edist_commontypes.xsd"/>
	<xsd:include schemaLocation="edist_structures.xsd"/>
	<!---->
	<!--
//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
= / = / = / = / = / = / = / = / = / = / = / = / = / = / = / = / = / = / = / = / = / = / = / = / = / = / = / = / = / = / = / = / = / =

    I N V E N T O R Y   G U A R A N T E E   R E Q U E S T   B U S I N E S S   O B J E C T

= / = / = / = / = / = / = / = / = / = / = / = / = / = / = / = / = / = / = / = / = / = / = / = / = / = / = / = / = / = / = / = / = / =
//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
-->
	<xsd:element name="InvGuaranteeRQ">
		<xsd:annotation>
			<xsd:documentation source="description" xml:lang="en">The InventoryGuarantee transaction set requests that inventory is guaranteed for specified Offers, pending their conversion into a completed Order.

The response returns an indication if the inventory has been guaranteed, and if so, the associated inventory guarantee time limit and a unique inventory guarantee reference ID.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="Document"/>
				<xsd:element ref="Party"/>
				<xsd:element name="Query">
					<xsd:annotation>
						<xsd:documentation>Inventory Guarantee Query.</xsd:documentation>
					</xsd:annotation>
					<xsd:complexType>
						<xsd:sequence>
							<xsd:element ref="BookingReferences" minOccurs="0">
								<xsd:annotation>
									<xsd:documentation>Existing Booking Reference (e.g. PNR Record Locator). Example: R1A3SK</xsd:documentation>
								</xsd:annotation>
							</xsd:element>
							<xsd:element ref="ShoppingResponseIDs" minOccurs="0"/>
							<xsd:element ref="OrderID" minOccurs="0">
								<xsd:annotation>
									<xsd:documentation>Order ID. Example: ORDER7333</xsd:documentation>
								</xsd:annotation>
							</xsd:element>
							<xsd:element ref="OrderItemID" minOccurs="0" maxOccurs="unbounded">
								<xsd:annotation>
									<xsd:documentation>Order Item ID(s). Example: ORD7333-001</xsd:documentation>
								</xsd:annotation>
							</xsd:element>
							<xsd:element name="OfferID" minOccurs="0">
								<xsd:annotation>
									<xsd:documentation>Offer ID . Example offer 1234</xsd:documentation>
								</xsd:annotation>
							</xsd:element>
							<xsd:element ref="OfferItemID" minOccurs="0" maxOccurs="unbounded">
								<xsd:annotation>
									<xsd:documentation>Offer Item ID(s). Example: OFFER1226</xsd:documentation>
								</xsd:annotation>
							</xsd:element>
							<xsd:element name="Qualifiers" minOccurs="0">
								<xsd:annotation>
									<xsd:documentation source="description" xml:lang="en">Qualifiers to influence inventory guarantee request processing.

Note: These capabilities may not be supported by all EDIST-enabled systems or may be supported by bilateral agreement only. If supported, the technical implementation of the capability is not dictated by this specification. </xsd:documentation>
								</xsd:annotation>
								<xsd:complexType>
									<xsd:sequence>
										<xsd:element name="PaymentCards" minOccurs="0">
											<xsd:annotation>
												<xsd:documentation source="description" xml:lang="en">PAYMENT CARD Qualifier(s).</xsd:documentation>
											</xsd:annotation>
											<xsd:complexType>
												<xsd:sequence>
													<xsd:element name="PaymentCard" type="CardQualifierType" maxOccurs="unbounded">
														<xsd:annotation>
															<xsd:documentation source="description" xml:lang="en">Payment Card.</xsd:documentation>
														</xsd:annotation>
													</xsd:element>
												</xsd:sequence>
											</xsd:complexType>
										</xsd:element>
										<xsd:element name="Programs" minOccurs="0">
											<xsd:annotation>
												<xsd:documentation source="description" xml:lang="en">PROGRAM Qualifier(s).</xsd:documentation>
											</xsd:annotation>
											<xsd:complexType>
												<xsd:sequence>
													<xsd:element name="Program" type="ProgramQualifierType" maxOccurs="unbounded">
														<xsd:annotation>
															<xsd:documentation source="description" xml:lang="en">Program Qualifier detail.</xsd:documentation>
														</xsd:annotation>
													</xsd:element>
												</xsd:sequence>
											</xsd:complexType>
										</xsd:element>
										<xsd:element name="Promotions" minOccurs="0">
											<xsd:annotation>
												<xsd:documentation source="description" xml:lang="en">PROMOTION Qualifier(s).</xsd:documentation>
											</xsd:annotation>
											<xsd:complexType>
												<xsd:sequence>
													<xsd:element name="Promotion" type="PromoQualifierType" maxOccurs="unbounded">
														<xsd:annotation>
															<xsd:documentation source="description" xml:lang="en">Promotion(s) Information.</xsd:documentation>
														</xsd:annotation>
													</xsd:element>
												</xsd:sequence>
											</xsd:complexType>
										</xsd:element>
										<xsd:element name="Seat" minOccurs="0">
											<xsd:annotation>
												<xsd:documentation source="description" xml:lang="en">SEAT Qualifier(s).</xsd:documentation>
											</xsd:annotation>
											<xsd:complexType>
												<xsd:sequence>
													<xsd:element name="Assignment" type="SeatCoreType" maxOccurs="unbounded">
														<xsd:annotation>
															<xsd:documentation source="description" xml:lang="en">Seat assignment information.</xsd:documentation>
														</xsd:annotation>
													</xsd:element>
												</xsd:sequence>
											</xsd:complexType>
										</xsd:element>
										<xsd:element name="SocialMedia" type="SocialQualiferType" minOccurs="0">
											<xsd:annotation>
												<xsd:documentation source="description" xml:lang="en">Social Media Account Qualifier.</xsd:documentation>
											</xsd:annotation>
										</xsd:element>
										<xsd:element name="SpecialNeeds" minOccurs="0">
											<xsd:annotation>
												<xsd:documentation>SPECIAL NEED Qualifier(s).</xsd:documentation>
											</xsd:annotation>
											<xsd:complexType>
												<xsd:sequence>
													<xsd:element name="SpecialNeed" type="SpecialQualiferType" maxOccurs="unbounded">
														<xsd:annotation>
															<xsd:documentation source="description" xml:lang="en">Passenger Special Needs Attributes.</xsd:documentation>
														</xsd:annotation>
													</xsd:element>
												</xsd:sequence>
											</xsd:complexType>
										</xsd:element>
										<xsd:element name="TripPurpose" type="TripPurposeListType" minOccurs="0">
											<xsd:annotation>
												<xsd:documentation source="description" xml:lang="en">TRIP PURPOSE Qualifier.</xsd:documentation>
											</xsd:annotation>
										</xsd:element>
										<xsd:element name="Locations" minOccurs="0">
											<xsd:annotation>
												<xsd:documentation source="description" xml:lang="en">Trip Flight Location information.

Note: This information may be used for airport associated products, such as an annual lounge pass.</xsd:documentation>
											</xsd:annotation>
											<xsd:complexType>
												<xsd:complexContent>
													<xsd:extension base="AssociatedObjectBaseType">
														<xsd:sequence>
															<xsd:element name="LocationCode" maxOccurs="unbounded">
																<xsd:annotation>
																	<xsd:documentation source="description" xml:lang="en">Airport or City Location code. Example: TPA

Encoding Scheme: IATA/ A4A (three character) Airport or City Code</xsd:documentation>
																</xsd:annotation>
																<xsd:complexType>
																	<xsd:simpleContent>
																		<xsd:extension base="AirportCitySimpleType"/>
																	</xsd:simpleContent>
																</xsd:complexType>
															</xsd:element>
														</xsd:sequence>
													</xsd:extension>
												</xsd:complexContent>
											</xsd:complexType>
										</xsd:element>
									</xsd:sequence>
								</xsd:complexType>
							</xsd:element>
						</xsd:sequence>
					</xsd:complexType>
				</xsd:element>
				<xsd:element name="DataLists" minOccurs="0">
					<xsd:annotation>
						<xsd:documentation>Data Lists(s).</xsd:documentation>
					</xsd:annotation>
					<xsd:complexType>
						<xsd:complexContent>
							<xsd:extension base="DataListType"/>
						</xsd:complexContent>
					</xsd:complexType>
				</xsd:element>
			</xsd:sequence>
			<xsd:attributeGroup ref="IATA_PayloadStdAttributes"/>
		</xsd:complexType>
	</xsd:element>
	<xsd:complexType name="InvGuaranteeMetadataType">
		<xsd:annotation>
			<xsd:documentation source="description" xml:lang="en">Request Metadata definition.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element ref="PassengerMetadata" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element name="Other" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation source="description" xml:lang="en">Other Metadata Lists(s).</xsd:documentation>
				</xsd:annotation>
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="OtherMetadata" maxOccurs="unbounded">
							<xsd:annotation>
								<xsd:documentation source="description" xml:lang="en">Other Metadata List.</xsd:documentation>
							</xsd:annotation>
							<xsd:complexType>
								<xsd:choice>
									<xsd:element ref="AddressMetadatas"/>
									<xsd:element ref="AircraftMetadatas"/>
									<xsd:element ref="AirportMetadatas"/>
									<xsd:element ref="CityMetadatas"/>
									<xsd:element ref="CodesetMetadatas"/>
									<xsd:element ref="ContactMetadatas"/>
									<xsd:element ref="CountryMetadatas"/>
									<xsd:element ref="CurrencyMetadatas"/>
									<xsd:element ref="DescriptionMetadatas"/>
									<xsd:element ref="EquivalentID_Metadatas"/>
									<xsd:element ref="LanguageMetadatas"/>
									<xsd:element ref="PaymentCardMetadatas"/>
									<xsd:element ref="PaymentFormMetadatas"/>
									<xsd:element ref="PriceMetadatas"/>
									<xsd:element ref="RuleMetadatas"/>
									<xsd:element ref="StateProvMetadatas"/>
									<xsd:element ref="ZoneMetadatas"/>
								</xsd:choice>
							</xsd:complexType>
						</xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>
