api/schemas/v113-p15-2/OrderHistoryNotif.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://www.iata.org/IATA/EDIST" targetNamespace="http://www.iata.org/IATA/EDIST" elementFormDefault="qualified" attributeFormDefault="unqualified" version="2.000" id="IATA2015.2">
	<xsd:include schemaLocation="edist_commontypes.xsd"/>
	<xsd:include schemaLocation="edist_structures.xsd"/>
	<!---->
	<!--
//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
= / = / = / = / = / = / = / = / = / = / = / = / = / = / = / = / = / = / = / = / = / = / = / = / = / = / = / = / = / = / = / = / = / =

    O R D E R   H I S T O R Y   N O T I F   R E Q U E S T   B U S I N E S S   O B J E C T

= / = / = / = / = / = / = / = / = / = / = / = / = / = / = / = / = / = / = / = / = / = / = / = / = / = / = / = / = / = / = / = / = / =
//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
-->
	<xsd:element name="OrderHistoryNotif">
		<xsd:annotation>
			<xsd:documentation source="description" xml:lang="en">The OrderHistoryNotif transaction set sends an unsolicited order history change notification message. The Acknowledgement message may be returned to acknowledge receipt of the notification request.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="Document"/>
				<xsd:element ref="Party"/>
				<xsd:element name="Query">
					<xsd:annotation>
						<xsd:documentation>Order History Notification.</xsd:documentation>
					</xsd:annotation>
					<xsd:complexType>
						<xsd:sequence>
							<xsd:element name="Actions">
								<xsd:annotation>
									<xsd:documentation>Order Action(s).</xsd:documentation>
								</xsd:annotation>
								<xsd:complexType>
									<xsd:sequence>
										<xsd:element name="Action" maxOccurs="unbounded">
											<xsd:annotation>
												<xsd:documentation>Order Action.</xsd:documentation>
											</xsd:annotation>
											<xsd:complexType>
												<xsd:sequence>
													<xsd:element name="ActionType">
														<xsd:annotation>
															<xsd:documentation>Order Action. Examples: Cancel, Create, Update, Delete, Reissue, Reprice</xsd:documentation>
														</xsd:annotation>
														<xsd:complexType>
															<xsd:simpleContent>
																<xsd:extension base="OrderItemActionListType">
																	<xsd:attribute name="Context" type="ContextSimpleType" use="optional">
																		<xsd:annotation>
																			<xsd:documentation>Action Type Context.</xsd:documentation>
																		</xsd:annotation>
																	</xsd:attribute>
																</xsd:extension>
															</xsd:simpleContent>
														</xsd:complexType>
													</xsd:element>
													<xsd:element name="Date" type="xsd:date">
														<xsd:annotation>
															<xsd:documentation>Action Date.</xsd:documentation>
														</xsd:annotation>
													</xsd:element>
													<xsd:element name="Entity">
														<xsd:annotation>
															<xsd:documentation>Entity that performed the action.</xsd:documentation>
														</xsd:annotation>
														<xsd:complexType>
															<xsd:sequence>
																<xsd:element name="EntityID" type="UniqueStringID_SimpleType">
																	<xsd:annotation>
																		<xsd:documentation>Entity ID. Examples: ABC123, jsmith</xsd:documentation>
																	</xsd:annotation>
																</xsd:element>
																<xsd:element name="Name" type="ProperNameSimpleType" minOccurs="0">
																	<xsd:annotation>
																		<xsd:documentation source="description" xml:lang="en">Entity Name. Examples: Carson Travel, Jane Smith</xsd:documentation>
																	</xsd:annotation>
																</xsd:element>
															</xsd:sequence>
														</xsd:complexType>
													</xsd:element>
													<xsd:element name="TransactionType" type="ProperNameSimpleType">
														<xsd:annotation>
															<xsd:documentation source="description" xml:lang="en">Transaction Type. Example: OrderCreate</xsd:documentation>
														</xsd:annotation>
													</xsd:element>
													<xsd:element name="Details" minOccurs="0">
														<xsd:annotation>
															<xsd:documentation>Order Action Details.</xsd:documentation>
														</xsd:annotation>
														<xsd:complexType>
															<xsd:sequence>
																<xsd:element name="Commission" type="CommissionType" minOccurs="0">
																	<xsd:annotation>
																		<xsd:documentation>Commission information.</xsd:documentation>
																	</xsd:annotation>
																</xsd:element>
																<xsd:element name="Group" type="GroupType" minOccurs="0">
																	<xsd:annotation>
																		<xsd:documentation source="description" xml:lang="en">Group Information.</xsd:documentation>
																	</xsd:annotation>
																</xsd:element>
																<xsd:element name="OrderItems" minOccurs="0">
																	<xsd:annotation>
																		<xsd:documentation>Order Item(s).</xsd:documentation>
																	</xsd:annotation>
																	<xsd:complexType>
																		<xsd:sequence>
																			<xsd:element name="OrderItem" maxOccurs="unbounded">
																				<xsd:annotation>
																					<xsd:documentation>Order Item detail.</xsd:documentation>
																				</xsd:annotation>
																				<xsd:complexType>
																					<xsd:choice>
																						<xsd:element ref="BaggageItem"/>
																						<xsd:element ref="FlightItem"/>
																						<xsd:element ref="SeatItem"/>
																						<xsd:element ref="OtherItem"/>
																					</xsd:choice>
																				</xsd:complexType>
																			</xsd:element>
																		</xsd:sequence>
																	</xsd:complexType>
																</xsd:element>
																<xsd:element name="Passengers" minOccurs="0">
																	<xsd:annotation>
																		<xsd:documentation>Passenger Information.</xsd:documentation>
																	</xsd:annotation>
																	<xsd:complexType>
																		<xsd:sequence>
																			<xsd:element name="Passenger" maxOccurs="unbounded">
																				<xsd:annotation>
																					<xsd:documentation>Passenger Detail.</xsd:documentation>
																				</xsd:annotation>
																				<xsd:complexType>
																					<xsd:sequence>
																						<xsd:element name="Name">
																							<xsd:annotation>
																								<xsd:documentation source="description" xml:lang="en">Passenger Name information.

Note: Detailed Name information, such as prefix, title and suffix, are specified in PassengerMetadata.</xsd:documentation>
																							</xsd:annotation>
																							<xsd:complexType>
																								<xsd:sequence>
																									<xsd:element name="Surname">
																										<xsd:annotation>
																											<xsd:documentation source="description" xml:lang="en">Family (last or sur) name. Example: SMITH</xsd:documentation>
																										</xsd:annotation>
																										<xsd:complexType>
																											<xsd:simpleContent>
																												<xsd:extension base="ProperNameSimpleType">
																													<xsd:attributeGroup ref="ObjAssociationAttrGroup"/>
																												</xsd:extension>
																											</xsd:simpleContent>
																										</xsd:complexType>
																									</xsd:element>
																									<xsd:element name="Given" minOccurs="0" maxOccurs="5">
																										<xsd:annotation>
																											<xsd:documentation source="description" xml:lang="en">Family (first or given) name.  Example: JOHN</xsd:documentation>
																										</xsd:annotation>
																										<xsd:complexType>
																											<xsd:simpleContent>
																												<xsd:extension base="ProperNameSimpleType">
																													<xsd:attributeGroup ref="ObjAssociationAttrGroup"/>
																												</xsd:extension>
																											</xsd:simpleContent>
																										</xsd:complexType>
																									</xsd:element>
																									<xsd:element name="Middle" minOccurs="0" maxOccurs="3">
																										<xsd:annotation>
																											<xsd:documentation source="description" xml:lang="en">Middle name or initial.  Examples: G, GEORGE</xsd:documentation>
																										</xsd:annotation>
																										<xsd:complexType>
																											<xsd:simpleContent>
																												<xsd:extension base="xsd:string">
																													<xsd:attributeGroup ref="ObjAssociationAttrGroup"/>
																												</xsd:extension>
																											</xsd:simpleContent>
																										</xsd:complexType>
																									</xsd:element>
																								</xsd:sequence>
																								<xsd:attributeGroup ref="ObjectPolicyMetaAttrGroup"/>
																							</xsd:complexType>
																						</xsd:element>
																						<xsd:element name="ProfileID" minOccurs="0">
																							<xsd:annotation>
																								<xsd:documentation source="description" xml:lang="en">Agent customer profile ID.</xsd:documentation>
																							</xsd:annotation>
																							<xsd:complexType>
																								<xsd:simpleContent>
																									<xsd:extension base="xsd:string">
																										<xsd:attributeGroup ref="ObjAssociationAttrGroup"/>
																									</xsd:extension>
																								</xsd:simpleContent>
																							</xsd:complexType>
																						</xsd:element>
																					</xsd:sequence>
																				</xsd:complexType>
																			</xsd:element>
																		</xsd:sequence>
																	</xsd:complexType>
																</xsd:element>
																<xsd:element name="Payments" minOccurs="0">
																	<xsd:annotation>
																		<xsd:documentation source="description" xml:lang="en">Payment information.</xsd:documentation>
																	</xsd:annotation>
																	<xsd:complexType>
																		<xsd:sequence>
																			<xsd:element name="Payment" type="OrderPaymentMethodType" maxOccurs="unbounded">
																				<xsd:annotation>
																					<xsd:documentation source="description" xml:lang="en">Payment detail.</xsd:documentation>
																				</xsd:annotation>
																			</xsd:element>
																		</xsd:sequence>
																	</xsd:complexType>
																</xsd:element>
																<xsd:element name="TotalOrderPrice" type="DetailCurrencyPriceType" minOccurs="0">
																	<xsd:annotation>
																		<xsd:documentation source="description" xml:lang="en">Total Order Price. Example: 3400 USD

Note: This is a sub-total of all associated Order Item prices.</xsd:documentation>
																		<xsd:documentation source="Capability" xml:lang="en">Currency, Redemption and Partial Pricing</xsd:documentation>
																	</xsd:annotation>
																</xsd:element>
																<xsd:element name="TicketDocInfos" minOccurs="0">
																	<xsd:annotation>
																		<xsd:documentation>Ticket/ Document Information.</xsd:documentation>
																	</xsd:annotation>
																	<xsd:complexType>
																		<xsd:sequence>
																			<xsd:element name="TicketDocInfo" maxOccurs="unbounded">
																				<xsd:annotation>
																					<xsd:documentation>Ticket/document information.</xsd:documentation>
																				</xsd:annotation>
																				<xsd:complexType>
																					<xsd:sequence>
																						<xsd:element name="AgentIDs" minOccurs="0">
																							<xsd:annotation>
																								<xsd:documentation>Booking and Servicing Agent information.</xsd:documentation>
																							</xsd:annotation>
																							<xsd:complexType>
																								<xsd:sequence>
																									<xsd:element ref="AgentID" maxOccurs="2"/>
																								</xsd:sequence>
																							</xsd:complexType>
																						</xsd:element>
																						<xsd:element ref="IssuingAirlineInfo" minOccurs="0"/>
																						<xsd:element ref="TicketDocument" maxOccurs="4"/>
																						<xsd:element ref="CarrierFeeInfo" minOccurs="0"/>
																						<xsd:element ref="OriginalIssueInfo" minOccurs="0"/>
																					</xsd:sequence>
																				</xsd:complexType>
																			</xsd:element>
																		</xsd:sequence>
																	</xsd:complexType>
																</xsd:element>
															</xsd:sequence>
														</xsd:complexType>
													</xsd:element>
												</xsd:sequence>
											</xsd:complexType>
										</xsd:element>
									</xsd:sequence>
								</xsd:complexType>
							</xsd:element>
						</xsd:sequence>
					</xsd:complexType>
				</xsd:element>
			</xsd:sequence>
			<xsd:attributeGroup ref="IATA_PayloadStdAttributes"/>
		</xsd:complexType>
	</xsd:element>
</xsd:schema>
