api/schemas/v113-p15-2/ServiceListRS.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2015 rel. 3 sp1 (x64) (http://www.altova.com) by JRT (JR Technologies, Inc.) -->
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://www.iata.org/IATA/EDIST" targetNamespace="http://www.iata.org/IATA/EDIST" elementFormDefault="qualified" attributeFormDefault="unqualified" version="2.000" id="IATA2015.2">
	<xsd:include schemaLocation="edist_commontypes.xsd"/>
	<xsd:include schemaLocation="edist_structures.xsd"/>
	<!--
//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
= / = / = / = / = / = / = / = / = / = / = / = / = / = / = / = / = / = / = / = / = / = / = / = / = / = / = / = / = / = / = / = / = / =
     S E R V I C E   L I S T   R E S P O N S E   B U S I N E S S   O B J E C T
= / = / = / = / = / = / = / = / = / = / = / = / = / = / = / = / = / = / = / = / = / = / = / = / = / = / = / = / = / = / = / = / = / =
//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
-->
	<xsd:element name="ServiceListRS">
		<xsd:annotation>
			<xsd:documentation source="DESCRIPTION" xml:lang="en">The ServiceList transaction set returns a list of all applicable ancillary services that meet request qualifiers and flights.

The message supports shopping for additional a la carte services to compliment any selected offer, as well as shopping for specialty service items not generally included in an initial offer but rather based on service search filters, e.g. sports equipment specialty baggage and unaccompanied minor fees.

The message also returns multi-media content at the message level and media references at the individual service level.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:choice>
				<xsd:sequence>
					<xsd:element ref="Document"/>
					<xsd:element name="Success" type="SuccessType">
						<xsd:annotation>
							<xsd:documentation>The presence of the empty Success element explicitly indicates that the message succeeded.</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="Warnings" type="WarningsType" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>Used in conjunction with the Success element to define one or more business errors.</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="Processing" type="ProcessingResultType" minOccurs="0"/>
					<xsd:element ref="ShoppingResponseIDs" minOccurs="0"/>
					<xsd:element name="Parameters" type="SrvListResParamsType" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation source="description" xml:lang="en">Search Result Parameters that influence overall message results.

Note: These capabilities may not be supported by all NDC-enabled systems or may be supported by bilateral agreement only. The technical implementation of this capability is not dictated by this specification. </xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="Services" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>Service(s).</xsd:documentation>
						</xsd:annotation>
						<xsd:complexType>
							<xsd:sequence>
								<xsd:element name="Service" maxOccurs="unbounded">
									<xsd:annotation>
										<xsd:documentation>Service detail.</xsd:documentation>
									</xsd:annotation>
									<xsd:complexType>
										<xsd:complexContent>
											<xsd:extension base="ServiceDetailType"/>
										</xsd:complexContent>
									</xsd:complexType>
								</xsd:element>
							</xsd:sequence>
						</xsd:complexType>
					</xsd:element>
					<xsd:element name="DataLists" type="DataListType" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>Data Lists(s).</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="Metadata" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>Metadata List(s).</xsd:documentation>
						</xsd:annotation>
						<xsd:complexType>
							<xsd:complexContent>
								<xsd:extension base="SrvListResMetadataType"/>
							</xsd:complexContent>
						</xsd:complexType>
					</xsd:element>
					<xsd:element ref="Policies" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation source="description" xml:lang="en">Message Policy information.</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
				</xsd:sequence>
				<xsd:sequence>
					<xsd:element ref="Errors"/>
				</xsd:sequence>
			</xsd:choice>
			<xsd:attributeGroup ref="IATA_PayloadStdAttributes"/>
		</xsd:complexType>
	</xsd:element>
	<xsd:complexType name="SrvListResParamsType">
		<xsd:annotation>
			<xsd:documentation source="description" xml:lang="en">Service List Response Message Parameters.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="MessageParamsBaseType">
				<xsd:sequence>
					<xsd:element name="Pricing" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation source="description" xml:lang="en">Pricing Parameters, including Simple Pricing, Award Travel, Auto Exchange, Override Currency and Fee Exemption.</xsd:documentation>
						</xsd:annotation>
						<xsd:complexType>
							<xsd:sequence>
								<xsd:element name="OverrideCurrency" type="CurrencySimpleType" minOccurs="0">
									<xsd:annotation>
										<xsd:documentation source="description" xml:lang="en">Requested override currency code for pricing.
Example: EUR</xsd:documentation>
									</xsd:annotation>
								</xsd:element>
								<xsd:element name="FeeExemption" minOccurs="0">
									<xsd:annotation>
										<xsd:documentation source="description" xml:lang="en">Fee exemption application for Offer pricing.</xsd:documentation>
									</xsd:annotation>
									<xsd:complexType>
										<xsd:complexContent>
											<xsd:extension base="AssociatedObjectBaseType">
												<xsd:sequence>
													<xsd:element name="Fee" minOccurs="0" maxOccurs="unbounded">
														<xsd:annotation>
															<xsd:documentation source="description" xml:lang="en">Exemption(s) based on tax codes plus (optional) tax types within a tax code.</xsd:documentation>
														</xsd:annotation>
														<xsd:complexType>
															<xsd:sequence>
																<xsd:element name="Code">
																	<xsd:annotation>
																		<xsd:documentation source="description" xml:lang="en">Exempt tax code.
Example: YQ/YR</xsd:documentation>
																	</xsd:annotation>
																	<xsd:complexType>
																		<xsd:simpleContent>
																			<xsd:extension base="xsd:string">
																				<xsd:attribute name="CollectionPoint" use="optional">
																					<xsd:annotation>
																						<xsd:documentation source="description" xml:lang="en">Airport code location for exempt ZP or XF taxes.
Example: MIA</xsd:documentation>
																						<xsd:documentation source="ENCODING" xml:lang="en">For maximum interoperability, it is recommended that IATA (three character) Airport/ City Code values be used. Use an IATA code or a proprietary string value.

http://www.iata.org/publications/Pages/code-search.aspx</xsd:documentation>
																					</xsd:annotation>
																				</xsd:attribute>
																			</xsd:extension>
																		</xsd:simpleContent>
																	</xsd:complexType>
																</xsd:element>
																<xsd:element name="TaxType" type="xsd:string" minOccurs="0" maxOccurs="unbounded">
																	<xsd:annotation>
																		<xsd:documentation source="description" xml:lang="en">Tax type(s) within the tax code.
Examples: I, C</xsd:documentation>
																	</xsd:annotation>
																</xsd:element>
															</xsd:sequence>
															<xsd:attributeGroup ref="ObjAssociationAttrGroup"/>
														</xsd:complexType>
													</xsd:element>
													<xsd:element ref="CountryCode" minOccurs="0" maxOccurs="unbounded"/>
													<xsd:element name="ProvinceCode" type="ProperNameSimpleType" minOccurs="0" maxOccurs="unbounded">
														<xsd:annotation>
															<xsd:documentation source="description" xml:lang="en">Exempt province(s).</xsd:documentation>
														</xsd:annotation>
													</xsd:element>
													<xsd:element name="GovernmentBody" type="ProperNameSimpleType" minOccurs="0">
														<xsd:annotation>
															<xsd:documentation source="description" xml:lang="en">Entity name.</xsd:documentation>
															<xsd:documentation source="Guidelines" xml:lang="en">=notes=:
1. This must be provided for certain exemptions in the Canadian market.</xsd:documentation>
														</xsd:annotation>
													</xsd:element>
												</xsd:sequence>
											</xsd:extension>
										</xsd:complexContent>
									</xsd:complexType>
								</xsd:element>
							</xsd:sequence>
							<xsd:attribute name="AutoExchangeInd" type="xsd:boolean" use="optional">
								<xsd:annotation>
									<xsd:documentation>When TRUE, fare information for one or more Offer Items has been returned from an auto-exchanging application.</xsd:documentation>
								</xsd:annotation>
							</xsd:attribute>
							<xsd:attribute name="AwardIncludedInd" type="xsd:boolean" use="optional">
								<xsd:annotation>
									<xsd:documentation>When TRUE, award eligible in addition to priced offers and fares is requested.</xsd:documentation>
								</xsd:annotation>
							</xsd:attribute>
							<xsd:attribute name="AwardOnlyInd" type="xsd:boolean" use="optional">
								<xsd:annotation>
									<xsd:documentation>When TRUE, only award eligible offers/ fares have been returned.</xsd:documentation>
								</xsd:annotation>
							</xsd:attribute>
							<xsd:attribute name="SimpleInd" type="xsd:boolean" use="optional">
								<xsd:annotation>
									<xsd:documentation>When TRUE, Simple Pricing  for flight offers has been applied.</xsd:documentation>
								</xsd:annotation>
							</xsd:attribute>
						</xsd:complexType>
					</xsd:element>
					<xsd:element ref="InventoryGuarantee" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation source="description" xml:lang="en">Inventory Guarantee information, including Inventory Guarantee Time Limit, Unique ID and Offer/ Offer Item association(s).

Notes:
1. This is the time that inventory for a specified product offer is guaranteed as available. The inventory held must be converted into a completed order before the time limit expires otherwise the guarantee is lost.
2. If specified, an association to one or more Offers or Offer Items may be specified in the Associations node. If no associations are specified, the inventory guarantee is assumed to apply to the entire Offer.
3. This capability may not be supported by all NDC-enabled systems or may be supported by bilateral agreement only. If supported, the technical implementation of this capability is not dictated by this specification.</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="Group" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation source="description" xml:lang="en">Group-related Offer Information.</xsd:documentation>
						</xsd:annotation>
						<xsd:complexType>
							<xsd:sequence>
								<xsd:element ref="PrimaryContact" minOccurs="0"/>
							</xsd:sequence>
						</xsd:complexType>
					</xsd:element>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="SrvListResMetadataType">
		<xsd:annotation>
			<xsd:documentation source="description" xml:lang="en">Service List Response Metadata definition.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="Shopping" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Shopping Query-Related Metadata.</xsd:documentation>
				</xsd:annotation>
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element ref="ShopMetadataGroup"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="Traveler" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Traveler Metadata List(s).</xsd:documentation>
				</xsd:annotation>
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element ref="TravelerMetadata"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="Other" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation source="description" xml:lang="en">Other Metadata Lists(s).</xsd:documentation>
				</xsd:annotation>
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="OtherMetadata" maxOccurs="unbounded">
							<xsd:annotation>
								<xsd:documentation source="description" xml:lang="en">Other Metadata List.</xsd:documentation>
							</xsd:annotation>
							<xsd:complexType>
								<xsd:choice>
									<xsd:element ref="AddressMetadatas"/>
									<xsd:element ref="AircraftMetadatas"/>
									<xsd:element ref="AirportMetadatas"/>
									<xsd:element ref="CityMetadatas"/>
									<xsd:element ref="CodesetMetadatas"/>
									<xsd:element ref="ContactMetadatas"/>
									<xsd:element ref="CountryMetadatas"/>
									<xsd:element ref="CurrencyMetadatas"/>
									<xsd:element ref="DescriptionMetadatas"/>
									<xsd:element ref="EquivalentID_Metadatas"/>
									<xsd:element ref="LanguageMetadatas"/>
									<xsd:element ref="PaymentCardMetadatas"/>
									<xsd:element ref="PaymentFormMetadatas"/>
									<xsd:element ref="PriceMetadatas"/>
									<xsd:element ref="RuleMetadatas"/>
									<xsd:element ref="StateProvMetadatas"/>
									<xsd:element ref="ZoneMetadatas"/>
								</xsd:choice>
							</xsd:complexType>
						</xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>
